.THIS {
}

.THIS .slds-modal__container{
    max-width: 70rem !important;
    width:80% !important;
}

.THIS .atl-margin-bottom-15{
    margin-bottom: 15px;
}

.THIS .customFooter{
    display: inline !important; 
    position: fixed;
    left: 0;
    width: 100%;
    background: rgb(243, 242, 242);
    box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, 0.16);
    z-index: 8000;
    display: flex;
    justify-content: center;
    padding: .5rem 0;
}

.THIS .atl-multi-line{
    white-space: pre-wrap;
}