.THIS .MyBtn{
    margin-top:10px;
}

.THIS .slds-spinner_container {
    top: 47%;
    right: 0;
    bottom: 50%;
    left: 0;
    z-index: 9050;
    background-color: rgba(255, 255, 255, 0.75);
    visibility: visible;
    opacity: 1;
    transition: opacity .2s ease,visibility 0s;
    transition-delay: 0s,.3s;
}

.THIS .spins::after {
    position: absolute;
    content: 'Uploading to Windream';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
}