.THIS {
}
.THIS .slds-dueling-list__options { height:6rem !important; }
.THIS.slds-spinner_container {  
    opacity: 0.5!important;
	position: absolute;
    right: -20rem;
    left: -20rem;
}