.THIS .slds-form-element__icon { 
    padding-top: 0px;
}

@media (min-width: 48em) {
    .THIS .slds-form-element_horizontal .slds-form-element__control {
    	padding-left: 50%;
	}
    
    .THIS .slds-form-element_horizontal .slds-form-element__label {
        max-width: calc(50% - var(--lwc-squareIconUtilityMedium,1.25rem));
    	flex-basis: calc(50% - var(--lwc-squareIconUtilityMedium,1.25rem));
	}
}