<apex:page standardController="Account" extensions="CrmViewControllerExt" showHeader="false" cache="true" lightningStylesheets="true" sidebar="false" title="Crm View">
    <!--
    <style>
    table#invoices {
        width:100%;
        table-layout: fixed;
    }
    table#invoices td {
    	overflow:hidden;
    }
    </style>
	-->
    <apex:outputText escape="false" value="{!Html}" />
</apex:page>