<apex:page standardController="Contract" extensions="RetryController">
    <apex:form >
	    <apex:commandButton action="{!retry}" value="AMA may take few minutes to activate all Subscriptions. Are you sure you want to retry activation now"/>
    </apex:form>
</apex:page>