<apex:page sidebar="true" showheader="true" controller="XactlyCorp.XactlyIncentController" action="{!initialize}" tabStyle="Incent__tab">
    <apex:includeScript value="{!URLFOR($Resource.XactlyCorp__XactlyIncentResources, 'resources/js/xactly.js')}"/>
    <script>
        setTabUrl("{!initURL}"+"?"+new Date().getTime(), "{!redirectURL}");
    </script>
    <div id="error" style="display:none;">
        <c:xactly_error />
    </div>
    <form id ="dummy" target="theIframe" method="post" action="{!redirectURL}">
    	<input type="hidden" name="isManagedPackage" value="true"/>
	    <input type="hidden" name="BizToken" value="{!bizToken}"/>
    	<input type="hidden" name="sfSessionId" value="{!sfSessionId}"/>
	    <input type="hidden" name="sfServerUrl" value="{!partnerServerURL}"/>
	    <input type="hidden" name="sfPartnerServerUrl" value="{!partnerServerURL}"/>
	    <input type="hidden" name="sfDomain" value="{!sfDomain}"/>
    </form>
    <apex:iframe src="" scrolling="true" id="theIframe" height="900px"/>
    <apex:stylesheet value="{!URLFOR($Resource.XactlyCorp__XactlyIncentResources, 'resources/css/xactly_incent.css')}"/>
</apex:page>