.THIS .checkBoxLater{
    padding-left: 2rem;
}

.THIS .slds-required{
    visibility: hidden!important;
}

.THIS .selectStatus{
    width: 25%!important;
    padding-right: 1rem;
}

.THIS .selectStatus > div {
    background-color: transparent!important;
    margin-top: -0.65em!important;
}

.THIS hr { 
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.THIS .editableInput{
    margin-top: -1em;
    background-color: transparent!important;
}
.THIS.slds-spinner_container {  
    position: relative!important;
    opacity: 0.5!important;
}

.THIS.errorContainer{
    margin: 1.5rem 0 2rem 0!important;
}
.THIS td{
    vertical-align: top;
}

.THIS .masterValue{
padding-top: 0.6em!important;    
}
.THIS .activeLaterHelper > div{
    margin-top: -0.5rem!important;
}