.THIS {
}
.THIS .slds-table_header-fixed_container slds-scrollable_x
{
    height: calc(100% - 15px) !important;
}

.THIS .slds-th__action{ justify-content: center !important; }
/*.THIS .slds-truncate{width: inherit; overflow: visible;}*/

.THIS span[title='Step 1']
{
    font-style: italic;
    margin-left: 35px;
    font-size: smaller;
}
.THIS span[title='Step 2']
{
    font-style: italic;
    margin-left: 35px;
    font-size: smaller;
}
.THIS div .slds-form-element__control{
   width: 20em;
}