<p>&#160;</p>

<p><span style="font-family:titillium web,sans-serif;"><span style="color:#808080;"><span style="font-size:12px;">Riceverete la fattura dopo l'inizio del periodo contrattuale, pagabile entro 30 giorni.</span></span></span></p>

<p>&#160;</p>

<p>&#160;</p>

<p><span style="font-family:titillium web,sans-serif;"><span style="color:#808080;"><span style="font-size:8px;">* La durata si prolunga automaticamente di un anno a meno che il prodotto venga disdetto dal cliente o da<br />
&#160; &#160;Swisscom Directories AG entro un termine di 30 giorni dalla scadenza del contratto.<br />
&#160; &#160;Si applicano le condizioni supplementari.(CS) per i prodotti &#8220;SWISS LIST&#8221;secondo l'appendice.</span></span></span></p>

<p>&#160;</p>

<p>&#160;</p>
