<p>&#160;</p>

<p><span style="font-family:titillium web,sans-serif;"><span style="color:#808080;"><span style="font-size:12px;">Die Rechnung erhalten Sie nach Beginn der Vertragslaufzeit, zahlbar innert 30 Tagen.</span></span></span></p>

<p>&#160;</p>

<p>&#160;</p>

<p><span style="font-family:titillium web,sans-serif;"><span style="color:#808080;"><span style="font-size:8px;">* Die Vertragslaufzeit verl&#228;ngert sich jeweils automatisch um ein weiteres Jahr, sofern das Produkt weder vom Kunden noch von<br />
&#160; &#160;localsearch mit einer K&#252;ndigungsfrist von 30 Tagen vor Ablauf der Laufzeit gek&#252;ndigt wird.<br />
&#160; &#160;Es gelten die Zusatzbedingungen (ZB) f&#252;r &#8220;SWISS LIST&#8221;-Produkte, gem&#228;ss Anhang.</span></span></span></p>

<p>&#160;</p>

<p>&#160;</p>
