<table cellpadding="1" cellspacing="1" style="width:1100px;">
	<tbody>
		<tr>
			<td>&#160;</td>
			<td>&#160;</td>
		</tr>
		<tr>
			<td>&#160;</td>
			<td>
			<p><span style="font-family:titillium web,sans-serif;"><span style="font-size:8px;">Swisscom Directories SA, Förrlibuckstrasse 62, Casella postale, 8021 Zurigo 1<br />
			IDI: CHE-102.951.148 MWST</span></span></p>

			<p>&#160;</p>
			</td>
		</tr>
		<tr>
			<td><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;">{!quote.Account_Number__c}</span></span></td>
			<td><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;"><strong>Telefono</strong>&#160; &#160; &#160; &#160; &#160;0800 888 810</span></span></td>
		</tr>
		<tr>
			<td><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;">{!quote.SBQQ__BillingStreet__c}</span></span></td>
			<td><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;"><strong>E-Mail&#160;</strong>&#160; &#160; &#160; &#160; &#160;customercare@localsearch.ch</span></span></td>
		</tr>
		<tr>
			<td><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;">{!quote.SBQQ__BillingPostalCode__c}&#160;{!quote.SBQQ__BillingCity__c}</span>&#160;</span></td>
			<td><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;"><strong>Riferimento</strong>&#160; &#160; {!quote.Owner_Name__c}</span></span></td>
		</tr>
		<tr>
			<td>&#160;</td>
			<td>&#160;</td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2"><span style="font-family:titillium web,sans-serif;"><span style="font-size:16px;"><strong>CONFERMA DEL CONTRATTO NUMERO {!quote.Name} - SWISS LIST</strong></span></span></td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td>&#160;</td>
			<td>&#160;</td>
		</tr>
		<tr>
			<td><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;"><strong>Data:</strong>&#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160;{!quote.SBQQ__StartDate__c}</span></span></td>
			<td><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;"><strong>Numero Cliente:&#160; &#160;</strong>{!quote.SL_Account_LCM__c}&#160;</span></span></td>
		</tr>
		<tr>
			<td>&#160;</td>
			<td>&#160;</td>
		</tr>
		<tr>
			<td>&#160;</td>
			<td>&#160;</td>
		</tr>
		<tr>
			<td colspan="2"><span style="color:#808080;"><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;">Gentile cliente,</span></span></span></td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2"><span style="color:#808080;"><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;">Grazie per aver scelto il nostro prodotto SWISS LIST.<br style="color: rgb(169, 169, 169);" />
			Di seguito trova tutti i dettagli relativi al contratto stipulato.</span></span></span></td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2"><span style="color:#808080;"><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;">In caso di domande, restiamo a sua completa disposizione all’indirizzo<br><strong>customercare@localsearch.ch</strong></span></span></span></td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2"><span style="color:#808080;"><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;">Ringraziandola, le porgiamo cordiali saluti<br style="color: rgb(169, 169, 169);" />
			Swisscom Directories SA</span></span></span></td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2"><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;"><strong>Durata Contratto*:</strong>&#160;&#160;{!quote.SBQQ__StartDate__c}-{!quote.Contract_End_date_subscription_term__c}</span></span></td>
		</tr>
	</tbody>
</table>

<p>&#160;</p>
