<table cellpadding="1" cellspacing="1" style="width:1300px;">
	<tbody>
		<tr>
			<td><span style="font-size:8px;">{!template.Footer_Logo__c}</span></td>
			<td>&#160;</td>
			<td style="text-align: right;"><span style="color:#696969;"><span style="font-size:8px;">Maggiori informazioni su: swisslist.ch, Tel.: 0800 888 810</span></span></td>
		</tr>
	</tbody>
</table>

<p>&#160;</p>
