<table border="0" cellpadding="1" cellspacing="1" style="width: 1472px;">
    <tbody>
        <tr>
            <td style="vertical-align: top; width: 731px; height: 100px;">{!template.LocalSearch_Logo__c}</td>
            <td style="vertical-align: top; width: 730px; height: 100px;">&#160;</td>
        </tr>
        <tr>
            <td>&#160;</td>
            <td>Swisscom Directories AG, F&#246;rrlibuckstrasse 60, 8021 Z&#252;rich</td>
        </tr>
        <tr>
            <td style="vertical-align: top;">{!primaryContact.Name}<br />
            {!primaryContact.MailingStreet}<br />
            {!primaryContact.MailingCity} {!primaryContact.MailingState}&#160; {!primaryContact.MailingPostalCode}<br />
            {!primaryContact.MailingCountry}</td>
            <td>
            <table align="left" border="0" cellpadding="1" cellspacing="1" style="width: 728px;">
                <tbody>
                    <tr>
                        <td style="width: 358px; vertical-align: top;"><strong>Telefon</strong></td>
                        <td style="width: 359px; vertical-align: top;">0800 86 80 86</td>
                    </tr>
                    <tr>
                        <td><strong>Telefax</strong></td>
                        <td>0800 86 80 80</td>
                    </tr>
                    <tr>
                        <td><strong>E-Mail</strong></td>
                        <td>customercare@localsearch.ch</td>
                    </tr>
                    <tr>
                        <td><strong>MWST. Nr.</strong></td>
                        <td>CHE-102.951.148 MWST</td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: middle; font-size: 14px;">
            <p>&#160;</p>

             <p>Vertrag Nr. {!quote.Name}</p>

             <p>&#160;</p>
            </td>
            <td style="vertical-align: middle;">&#160;</td>
        </tr>
        <tr>
            <td>
            <table border="0" cellpadding="1" cellspacing="1" style="width: 546px;">
                <tbody>
                    <tr>
                        <td style="width: 120px;"><strong>Vertrags-Datum</strong></td>
                        <td style="width: 120px;">{!quote.SBQQ__StartDate__c}</td>
                    </tr>
                    <tr>
                        <td><strong>Bestellschein Nr.</strong></td>
                        <td>&#160;</td>
                    </tr>
                    <tr>
                        <td><strong>Kunden-Nr.</strong></td>
                        <td>{!quote.Account_Number__c}</td>
                    </tr>
                </tbody>
            </table>
            </td>
            <td><strong>Inserent:</strong>&#160;Hof-Wernli Yvonne, Fusspflegepraxis, 5200 Brugg<br />
            AG<br />
            <strong>Email:</strong>&#160;yvonne.hof@hispeed.ch</td>
        </tr>
        <tr>
            <td style="height: 25px;">&#160;</td>
            <td>&#160;</td>
        </tr>
        <tr>
            <td colspan="2"><span style="font-size: 10px;">Sehr geehrte Kundin, sehr geehrter Kunde<br />
            Gerne best&#228;tigen wir den mit Ihnen abgeschlossenen Insertionsvertrag wie folgt:</span></td>
        </tr>
        <tr>
            <td>&#160;</td>
            <td>&#160;</td>
        </tr>
    </tbody>
</table>