<table border="0" cellpadding="1" cellspacing="1" style="width: 1455px;">
	<tbody>
		<tr>
			<td colspan="2" style="width: 1449px; vertical-align: top;">
			<table border="0" cellpadding="1" cellspacing="1" style="width: 1447px;">
				<tbody>
					<tr>
						<td style="width: 357px;">&#160;</td>
						<td style="text-align: right;"><span style="font-size: 11px;">Allgemeine Gesch&#228;ftsbedingungen (AGB) f&#252;r Online-Vertrag</span></td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td style="width: 722px; vertical-align: top;">
			<p>1 Vertragsparteien und Anwendbarkeit</p>

			<p>1.1 Die Swisscom Directories AG (&#171;Anbieterin&#187;) ist Anbieterin der auf www.local.ch und www.search.ch umschriebenen Dienstleis-tungen. Die Anbieterin schliesst mit der Kundin/dem Kunden (&#171;Kunde&#187;) einen Vertrag zum jeweis gew&#252;nschten Online-Pro-dukt (&#171;Vertrag&#187;).</p>

			<p>1.2 Diese Allgemeinen Gesch&#228;ftsbedingungen f&#252;r den Online-Vertrag (AGB) regeln die Rechtsverh&#228;ltnisse zwischen dem Kundenund der Anbieterin bez&#252;glich Online-Advertising im Bereich des local.ch- und search.ch-Angebots und sind Bestandteil des</p>

			<p>zwischen dem Kunden und der Anbieterin abgeschlossenen Vertrags. Die Anbieterin ist berechtigt, diese AGB jederzeit anzu-passen. Der Kunde kann die jeweils aktuellen AGB unter www.local.ch und www.search.ch einsehen oder bei der Anbieterinein Exemplar bestellen. Der Kunde best&#228;tigt mit dem Bezug neuer Leistungen oder der Bezahlung jeder Rechnung, die jeweilsaktuelle Version der AGB zur Kenntnis genommen und akzeptiert zu haben.<br />
			1.3 Als Online-Advertising gilt die Schaltung eines oder mehrerer Werbemittel auf den Websites www.local.ch oder www.search.ch.<br />
			1.4 F&#252;r das Produkt My Website ist der &#171;Anhang zu den AGB Online-Vertrag f&#252;r das Produkt My Website&#187; mitgeltend zu diesen AGB.<br />
			1.5 F&#252;r das Produkt My Cockpit ist der &#171;Anhang zu den AGB Online-Vertrag f&#252;r das Produkt My Cockpit&#187; mitgeltend zu diesen AGB.<br />
			1.6 F&#252;r das Produkt My Campaign ist der &#171;Anhang zu den AGB Online-Vertrag f&#252;r das Produkt My Campaign&#187; mitgeltend zu diesen AGB.<br />
			1.7 Als integrierende Vertragsbestandteile gelten weiter die von der Anbieterin dem Kunden in geeigneter Weise (z.B. per E-Mailoder schriftlich) mitgeteilten Regeln betreffend Online-Advertising, die die Rechte und Pflichten der Parteien, die zur Verf&#252;-gung stehenden Werbegef&#228;sse sowie Ablauf, Inhalt, Preis und Abwicklung der Werbeschaltung n&#228;her spezifizieren.</p>

			<p>1.8 Bei Widerspr&#252;chen zwischen dem Vertrag, den AGB und den Regeln betreffend Online-Advertising gehen die Bestimmungendes Vertrags denjenigen der AGB und letztere denjenigen Regeln betreffend Online-Advertising vor.<br />
			2 Inkrafttreten und Dauer des Vertrags<br />
			2.1 Der Vertrag tritt mit der Unterzeichnung durch beide Vertragsparteien oder &#8211; bei elektronischer Beziehung zum Kunden &#8211;durch Best&#228;tigung des Kunden der Offerte der Anbieterin mittels E-Mail an dem in den Vertragsunterlagen genannten Datumin Kraft und wird fest f&#252;r die vertraglich vereinbarte Dauer ab Aufschaltdatum abgeschlossen. Die Parteien stellen die eigenh&#228;ndige elektronische Unterzeichnung mittels Stift auf dem Bildschirm des Verkaufsger&#228;tes der eigenh&#228;ndigen Unterzeich-<br />
			nung auf Papier im Sinne von Art. 13 f. OR gleich.</p>

			<p>2.2 Die Anbieterin hat das Recht, nach Pr&#252;fung der Vertragsangaben des Kunden innert 30 Tagen nach Unterzeichnung desVertrags von diesem ohne Angabe von Gr&#252;nden entsch&#228;digungslos zur&#252;ckzutreten.<br />
			3 Leistungen der Anbieterin<br />
			3.1 Die Anbieterin wendet bei der Erbringung ihrer Leistungen allgemein &#252;bliche Standards an und beachtet die n&#246;tige Sorgfalt. Sieist berechtigt, jederzeit ohne Benachrichtigung des Kunden ihre Einrichtungen technischen Erfordernissen anzupassen undihre Angebotspalette zu &#228;ndern. Der Kunde erkl&#228;rt sich mit solchen &#196;nderungen einverstanden, soweit diese seine Leistungs-anspr&#252;che nicht unzumutbar beeintr&#228;chtigen.</p>

			<p>3.2 Werden w&#228;hrend der Vertragsdauer zus&#228;tzliche oder neue Leistungen vereinbart, gilt f&#252;r alle bisher von der Anbieterin bezo-genen Dienstleistungen jeweils die neueste Fassung dieser AGB.</p>

			<p>3.3 Die Anbieterin setzt die aufgegebenen Publikationen in der Regel innert 30 Tagen nach Eingang der vollst&#228;ndigen Vertrags-und Manuskriptunterlagen um. Die erstmalige Erfassung beinhaltet die im Manuskript gelieferten Inhalte.</p>

			<p>3.4 Wo zum Leistungsumfang der Anbieterin Online-Aktivit&#228;ten des Kunden oder Dritter geh&#246;ren, ist der Kunde selber daf&#252;r ver-antwortlich.</p>

			<p>3.5 Die Anbieterin bestimmt die Art des Zugangsschutzes f&#252;r das Kundencenter. Sie ist nicht verpflichtet, die Identit&#228;tsangabenvon Benutzern zu pr&#252;fen. Sie darf jeden Zugang mit dem richtigen Passwort als berechtigten Zugang betrachten. Ebenso</p>

			<p>wenig ist sie verpflichtet, irgendwelche Kopierschutzmassnahmen zu treffen. Der Kunde verpflichtet sich zudem, seine Pass-w&#246;rter und Identifikationsschl&#252;ssel vor Missbrauch zu sch&#252;tzen und steht der Anbieterin f&#252;r jeden Schaden ein, der dieser ausderen Missbrauch entsteht.</p>

			<p>3.6 Der Kunde akzeptiert die Zustellung von Informationen per Mail-Newsletter. Der Kunde kann diesen Newsletter jederzeit abbe-stellen. Die Kundendaten, die f&#252;r eigene Marketingzwecke verwendet werden, werden von der Anbieterin vertraulich behandeltund werden ausschliesslich gem&#228;ss der nachfolgenden Ziff. 11 an Dritte weiter- oder bekanntgegeben.<br />
			4 Leistungen von Dritten<br />
			Die Anbieterin kann zur Erbringung ihrer Dienstleistungen oder auf Anfrage des Kunden Dritte einsetzen (&#171;Support-Partner&#187;).</p>

			<p>Der Support-Partner agiert dabei entweder als Hilfsperson der Anbieterin oder er schliesst direkt mit dem Kunden einen se-<br />
			paraten Vertrag ab. Die Anbieterin &#252;bernimmt keine Gew&#228;hr und Verantwortung f&#252;r die vertragliche Beziehung zwischen dem</p>

			<p>Kunden und dem Support-Partner.<br />
			5 Werbeinhalte und Publikation<br />
			5.1 Der Kunde best&#228;tigt mit der Dienstleistungserteilung und/oder der Vertragsunterzeichnung, dass er s&#228;mtliche erforderlichen<br />
			Rechte an den von ihm der Anbieterin zur Verf&#252;gung gestellten Unterlagen wie Bildern, Texten, Logos und sonstigen Inhalten(&#171;Werbeinhalte&#187;) besitzt und frei und uneingeschr&#228;nkt dar&#252;ber verf&#252;gen kann. Allf&#228;llige Mitwirkungspflichten des Kunden, dieBeachtung technischer Vorschriften usw. k&#246;nnen sich aus dem Manuskript ergeben.<br />
			5.2 Der Kunde sichert zu und &#252;bernimmt die alleinige Verantwortung daf&#252;r, dass seine Werbeinhalte und damit verlinkte Websites<br />
			nicht gegen gesetzliche Vorschriften und Werberichtlinien verstossen, insbesondere nicht mit sexuellen oder pornografischen<br />
			Darstellungen versehen sind, oder Namen oder Begriffe verwenden, die auf solche Programme oder solche Inhalte hindeutenoder daf&#252;r werben. Gleiches gilt f&#252;r radikale, politische sowie f&#252;r sonstige, gegen den Anstand oder die guten Sitten verstos-sende Inhalte und Formen und generell f&#252;r die Beachtung von irgendwelchen Drittrechten. Die Anbieterin &#252;bernimmt keineVerpflichtung, die Werbung auf ihre technische Eignung und inhaltlich zu pr&#252;fen, und sie lehnt jegliche diesbez&#252;gliche Haftungausdr&#252;cklich ab. Der Kunde h&#228;lt die Anbieterin von allen Kosten (inkl. Abwehrkosten) und Anspr&#252;chen, die gegen die Anbieterin<br />
			geltend gemacht werden, vollumf&#228;nglich schadlos. Diese Haftung gilt &#252;ber die Dauer der vertraglichen Beziehung hinaus.<br />
			5.3 Die Anbieterin kann nach eigenem freien Ermessen Werbeinhalte des Kunden jederzeit wegen ihres Inhalts, ihrer Herkunft,ihrer technischen Form, ihrer Gestaltung oder Qualit&#228;t nach einheitlichen, sachlich gerechtfertigten Grunds&#228;tzen ablehnen,&#228;ndern oder l&#246;schen, insbesondere, wenn die Werbeinhalte nicht den vorgenannten Zusicherungen entsprechen. Wird die Werbung abgelehnt, ge&#228;ndert oder gel&#246;scht, kann der Kunde neue bzw. ge&#228;nderte Inhalte publizieren, auf welche die Zu-r&#252;ckweisungsgr&#252;nde nicht zutreffen. Der Kunde hat keinen Anspruch auf R&#252;ckzahlung der von ihm bereits erbrachten Zah-<br />
			lungen, soweit sie dem Wert der von der Anbieterin bereits erbrachten Leistungen entsprechen. Schadenersatzanspr&#252;che</p>

			<p>eines Kunden sind im Rahmen des gesetzlich Zul&#228;ssigen ausgeschlossen. Wird ein Werbeinhalt trotz einer zun&#228;chst erkl&#228;rten<br />
			Zur&#252;ckweisung publiziert, verbleibt es in vollem Umfang bei den gegenseitigen vertraglichen Verpflichtungen.</p>

			<p>5.4 Platzierung, Inhalt und Umfang der Werbung. F&#252;r die Platzierung, den Inhalt und den Umfang der Werbung sind ausschliess-<br />
			lich diejenigen Attribute massgebend, die auf dem jeweils g&#252;ltigen Vertragsformular und Manuskript ausgewiesen sind. Ein</p>

			<p>Konkurrenzausschluss kann nicht gew&#228;hrt werden. Bei der Auswahl von Targeting-Kriterien f&#252;r Banner-Werbung, wie &#171;Ver-<br />
			teilgebiete&#187; und/oder &#171;Rubriken&#187;, erfolgt die Werbeschaltung alternierend bei Abfragen mit diesen Kriterien. Das Produkt</p>

			<p>&#171;Toplisting&#187; wird alternierend (max. 3) zu den vorgegebenen Kriterien Rubrik, Verteilgebiet, Sprache und Slot angezeigt. Die<br />
			eintragsbasierten Produkte &#171;Link&#187;, &#171;Movie&#187;, &#171;local 360&#176;&#187;, &#171;Info&#187;, und &#171;Logo&#187; werden gem&#228;ss Angaben auf dem Vertrag</p>

			<p>in die entsprechenden Eintr&#228;ge der Firma pro Standort geschaltet. Das Produkt &#171;Highlight&#187; wird auf denjenigen Eintrag ge-<br />
			schaltet, der den Kriterien Firmennamen, Strasse, PLZ, Ort und Telefonnummer entspricht. Falls sich das Produkt eignet, kann</p>

			<p>die Werbeschaltung auch auf Plattformen Dritter erfolgen. Das Produkt &#171;Tel Link&#187; wird alternierend zu den vorgegebenen,</p>

			<p>d.h. gebuchten Kriterien Rubrik und Verteilgebiet angezeigt. Das Produkt &#171;VIP Place&#187; schiebt den mit einem search.ch-Bu-<br />
			siness-Produkt versehenen Eintrag bei den vorgegebenen Kriterien, d.h. der gebuchten Rubrik sowie dem Domizil-Ort, an die</p>

			<p>oberste Position der Resultate. Die eintragsbasierten search.ch-Business-Produkte werden gem&#228;ss Angaben im Vertrag auf<br />
			die entsprechenden Eintr&#228;ge der Firma pro Standort geschaltet.</p>

			<p>5.5 Anlieferung der Werbemittel. Der Kunde ist f&#252;r die rechtzeitige und technisch einwandfreie Anlieferung der Werbemittel, Vor-<br />
			lagen oder ben&#246;tigten Unterlagen verantwortlich. Der Kunde tr&#228;gt das Risiko f&#252;r die &#220;bermittlung der Werbemittel. Kann die</p>

			<p>Werbung nicht geschaltet werden oder wird sie falsch geschaltet, weil die Unterlagen vom Kunden nicht rechtzeitig, mangel-<br />
			haft oder falsch gekennzeichnet abgeliefert wurden, wird die vereinbarte Werbung in Rechnung gestellt. Dem Kunden stehen</p>

			<p>in diesem Fall keine Ersatzanspr&#252;che zu.<br />
			5.6 Werbeschaltung. Die Schaltung der Werbung erfolgt in der f&#252;r Online-Publikationen &#252;blichen Wiedergabequalit&#228;t.</p>

			<p>5.7 Sollte dem Kunden per E-Mail oder postalisch ein &#171;Gut zur Aufschaltung&#187; (GzA) zugestellt werden, so ist der Kunde verpflich-<br />
			tet, das GzA innerhalb von 10 Werktagen nach Erhalt zu pr&#252;fen und &#196;nderungsw&#252;nsche der Anbieterin zu melden. Bei sp&#228;teren</p>

			<p>&#196;nderungsw&#252;nschen tr&#228;gt der Kunde die Kosten der von ihm gew&#252;nschten &#196;nderungen.</p>

			<p>5.8 Die Anbieterin ist berechtigt, ihre Leistungen zu verweigern, solange die betreffenden Materialien nicht in verwendungsberei-<br />
			tem Zustand oder mangelhaft geliefert wurden.</p>

			<p>6 Geistiges Eigentum und Rechte Dritter</p>

			<p>6.1 Soweit der Kunde seine Werbeinhalte weder selber herstellt noch in fertigem Zustand an die Anbieterin liefert, verbleibt s&#228;mtli-<br />
			ches geistiges und sachenrechtliches Eigentum am Werbeprodukt und dessen Inhalt ausschliesslich bei der Anbieterin. Soweit</p>

			<p>das vom Kunden gelieferte Material von der Anbieterin oder einem Dritten bearbeitet werden muss, bezieht sich diese Regel auf</p>

			<p>die Bearbeitung durch die Anbieterin oder den Dritten. An s&#228;mtlichen sonstigen Werbeinhalten gew&#228;hrt der Kunde der Anbie-<br />
			terin das ausschliessliche, geb&#252;hrenfreie, permanente, &#252;bertragbare, unwiderrufliche und uneingeschr&#228;nkt unterlizenzierbare</p>

			<p>Recht zur Verwendung, Vervielf&#228;ltigung, &#196;nderung, Anpassung, &#220;bersetzung, Verteilung, Ver&#246;ffentlichung und Vorf&#252;hrung.<br />
			6.2 Der Kunde erkl&#228;rt und sichert ausdr&#252;cklich zu, dass er die Rechte Dritter, insbesondere Firmen-, Urheber- und Markenrechte<br />
			beachtet. Er hat davon Kenntnis, dass an Bildern, Grafiken, Daten, Tondokumenten, Programmen oder Teilen davon etc. in der<br />
			Regel Drittrechte bestehen und erkl&#228;rt, dass er die n&#246;tigen Nutzungsrechte vorg&#228;ngig eingeholt hat.<br />
			6.3 Die Anbieterin ist nicht verpflichtet, das Bestehen solcher Drittrechte oder das Vorliegen der erforderlichen Nutzungsrechte<br />
			des Kunden zu pr&#252;fen. Sie kann jedoch im Zweifelsfalle vom Kunden einen Berechtigungsnachweis verlangen, die Annahme</p>

			<p>der betreffenden Unterlagen verweigern, die Entfernung von rechtsverletzenden Teilen verlangen und widrigenfalls ihre Leis-<br />
			tungen solange suspendieren, bis eine allf&#228;llige Rechtsverletzung beseitigt ist. Der Kunde h&#228;lt die Anbieterin von s&#228;mtlichen</p>

			<p>Anspr&#252;chen, welche Dritte ihr gegen&#252;ber geltend machen, vollumf&#228;nglich schadlos.</p>
			</td>
			<td style="vertical-align: top;">
			<p>6.4 Die Anbieterin ist berechtigt, Werbeinhalte sowie Angaben und Informationen zu den Werbeinhalten auf Drittseiten und/oderzur Bewerbung ihres eigenen Online-Angebotes selber zu publizieren sowie Marktforschungsinstituten zur Verf&#252;gung zu stellen.<br />
			7 Gew&#228;hrleistung<br />
			Die Anbieterin behebt technische St&#246;rungen, welche in ihrem Machtbereich liegen, innert angemessener Frist. Weitergehende Gew&#228;hrleistungsanspr&#252;che werden ausgeschlossen. Insbesondere &#252;bernimmt die Anbieterin keine Gew&#228;hr f&#252;r Angaben in Produktbeschreibungen oder Spezifikationen und steht in keiner Art und Weise f&#252;r St&#246;rungen oder Unterbr&#252;che ein. &#220;berdiesist der Kunde f&#252;r die notwendigen eigenen technischen Einrichtungen sowie f&#252;r den programm- (Software) oder ger&#228;tetech-nischen (Hardware) Schutz seiner Websites ausschliesslich selber verantwortlich. Die Anbieterin &#252;bernimmt keinerlei Gew&#228;hrf&#252;r die Kompatibilit&#228;t ihrer Leistungen mit Hard- oder Software des Kunden.<br />
			8 Preise, Rechnungsstellung und Zahlungsbedingungen<br />
			8.1 Der Kunde schuldet und bezahlt den vertraglich vereinbarten Preis innerhalb von 30 Tagen nach Rechnungsstellung durchdie Anbieterin ohne jegliche Abz&#252;ge. Die Rechnungsstellung erfolgt bei periodischen Leistungen in der Regel j&#228;hrlich. Die erst-malige Rechnungsstellung erfolgt in der Regel 60 Tage nach Vertragsschluss, unabh&#228;ngig von der Lieferung der erw&#228;hntenMaterialien durch den Kunden oder der Aufschaltung des Online-Produkts. Es werden keine WIR-Checks angenommen. DieAnbieterin ist berechtigt, den geschuldeten Betrag via Fernmelderechnung einer Fernmeldedienstanbieterin, z.B. Swisscom<br />
			(Schweiz) AG, oder via andere Partner einzuziehen.<br />
			8.2 Bei &#220;berschreitung des Zahlungstermins gem&#228;ss Ziffer 9.1 tritt ohne weiteres der Zahlungsverzug ein. Bei Zahlungsverzug istder gesetzliche Verzugszins von 5% p.a. gem&#228;ss OR Art. 104 geschuldet. Zudem ist die Anbieterin berechtigt, Mahnkosten zurteilweisen Deckung der entstandenen Kosten zu verlangen. Der offene Rechnungsbetrag zuz&#252;glich allf&#228;lligen Mahngeb&#252;hren<br />
			und Zinsen kann zum Zwecke des Inkassos an Dritte abgetreten oder verkauft werden. Die Kosten f&#252;r die Abtretung von CHF75.&#8211; belastet die Anbieterin dem Kunden bei &#220;bergabe der Forderung an das Inkassob&#252;ro.<br />
			8.3 Die Anbieterin kann vom Kunden Vorauszahlungen verlangen, bevor sie ihre Leistungen erbringt. Unabh&#228;ngig davon kann die Anbieterin bei Nichtbezahlung von Rechnungen ihre Leistungen ohne vorg&#228;ngige Benachrichtigung einstellen bis s&#228;mtlichegeschuldeten Betr&#228;ge bei der Anbieterin eingegangen sind. Die der Anbieterin zustehenden gesetzlichen Rechte bleiben in<br />
			jedem Fall vorbehalten.<br />
			8.4 Falls mit dem Kunden eine Ratenzahlung vereinbart wird, hat die Anbieterin die M&#246;glichkeit, eine angemessene Anzahlungzu verlangen. Die geleistete Anzahlung wird anteilm&#228;ssig auf den Gesamtbetrag des ersten Vertragsjahres angerechnet. Der<br />
			Kunde schuldet und bezahlt die Anzahlung innerhalb von 30 Tagen nach Rechnungsstellung durch die Anbieterin ohne jeglicheAbz&#252;ge. F&#252;r die nachfolgenden Raten gilt Ziff. 8.1 entsprechend. Ist der Kunde mit der Anzahlung oder einer darauffolgenden Rate in Verzug wird der Gesamtbetrag f&#252;r das laufende Vertragsjahr ohne weiteres f&#228;llig und Ziff. 8.2 kommt zur Anwendung.<br />
			8.5 Sollten bei der Ausf&#252;hrung Fehler entstehen, ist der Kunde nicht berechtigt, die Zahlung zu verweigern. Eine Verrechnung istin jedem Fall nur zul&#228;ssig, wenn der zur Verrechnung gestellte Anspruch des Kunden durch die Anbieterin unbestritten oderrechtskr&#228;ftig festgestellt ist. Weitere oder andere Anspr&#252;che des Kunden sind ausgeschlossen.<br />
			8.6 Der vereinbarte Nettopreis gilt als Festpreis pro Jahr in Schweizer Franken. Die gesetzliche Mehrwertsteuer, allf&#228;llige weitere Steuern, Abgaben oder Geb&#252;hren sind jeweils im Nettopreis nicht enthalten und werden zus&#228;tzlich verrechnet.<br />
			9 Haftung und Haftungsbeschr&#228;nkung<br />
			9.1 Die Anbieterin steht gegen&#252;ber den Kunden f&#252;r die sorgf&#228;ltige und vertragsgem&#228;sse Erbringung der vereinbarten Leistungen<br />
			durch sie ein. Diese Leistungen ergeben sich im Einzelnen aus den Kundenangaben auf dem Manuskriptformular oder anderen<br />
			Datentr&#228;gern. F&#252;r die Gestaltung der Werbung &#252;bernimmt die Anbieterin keine Haftung.</p>

			<p>9.2 Die Anbieterin haftet nur bei Vorsatz und grober Fahrl&#228;ssigkeit. Ansonsten ist die Haftung im Rahmen des gesetzlich Zu-<br />
			l&#228;ssigen wegbedungen. Insbesondere ist die Haftung f&#252;r indirekte Sch&#228;den und Folgesch&#228;den, f&#252;r F&#228;lle h&#246;herer Gewalt und</p>

			<p>Streiks, f&#252;r technische St&#246;rungen, die in den Verantwortungsbereich anderer Unternehmen und/oder Netzbetreiber fallen<br />
			sowie f&#252;r Hilfspersonen ausgeschlossen.<br />
			9.3 Soweit eine Haftung von der Anbieterin besteht, ist sie in allen F&#228;llen betragsm&#228;ssig auf den nachgewiesenen Schaden,<br />
			h&#246;chstens aber auf die Vertragssumme beschr&#228;nkt bzw. die Anbieterin kann eine Gutschrift in entsprechender H&#246;he f&#252;r die<br />
			Schaltung von Werbung gew&#228;hren.<br />
			9.4 Die Anbieterin haftet nicht f&#252;r Kundeninhalte und Daten, welche nach einer Vertragsaufl&#246;sung oder der Nichterneuerung eines<br />
			Vertrags gel&#246;scht werden. Ebenso wenig haftet die Anbieterin f&#252;r rechtswidrige Handlungen von Benutzern gegen&#252;ber dem<br />
			Kunden (z.B. unbefugtes Kopieren von Inhalten und dergleichen).<br />
			9.5 Der Kunde steht der Anbieterin f&#252;r alle Nachteile ein, die dieser durch die Verletzung von Vertragsbestimmungen entstehen,<br />
			und er befreit diese von allen Anspr&#252;chen Dritter, welche an sie wegen angeblicher Verletzung von Immaterialg&#252;tern oder</p>

			<p>sonstigen Rechten geltend gemacht werden. Dem Kunden ist bekannt, dass rechtswidrige Handlungen auch durch blosse pro-<br />
			grammtechnische Verweise (z.B. Links) erfolgen k&#246;nnen. Der Kunde ist daher verpflichtet, nur solche Verweise einzurichten,</p>

			<p>bei denen er Verletzungen von Straftatbest&#228;nden und Rechten Dritter ausschliessen kann. Diese Haftung gilt &#252;ber die Dauer<br />
			der vertraglichen Beziehung hinaus. Die Anbieterin informiert den Kunden innert angemessener Frist &#252;ber geltend gemachte<br />
			Anspr&#252;che.</p>

			<p>9.6 Die Anbieterin ist grunds&#228;tzlich berechtigt, an die vom Kunden kommunizierten Adressen und Personen rechtsgen&#252;glich zu-<br />
			zustellen. Der Kunde ist verpflichtet, &#196;nderung seiner Adresse, der internen Ansprechperson oder der Korrespondenz-E-Mail</p>

			<p>bekannt zu geben. Es besteht keine Haftung von der Anbieterin f&#252;r fehlerhafte Zustellung.<br />
			10 Bewertungen</p>

			<p>10.1 Die Anbieterin stellt auf ihren Diensten ein Bewertungssystem zur Verf&#252;gung. Dieses umfasst Recommandation (Empfehlun-<br />
			gen, etwa Daumen hoch/runter; etc.), Ratings (etwa Vergabe von Sternen; etc.) und Reviews (Kommentierm&#246;glichkeit, etwa</p>

			<p>Verfassen von wertenden Kommentaren) durch die Nutzer der von der Anbieterin angebotenen Dienste. Der Kunde stimmt mit</p>

			<p>Abschluss des vorliegenden Vertrags der Teilnahme am Bewertungssystem der Anbieterin zu. M&#246;chte ein Kunde nicht bewer-<br />
			tet werden, so kann er dies jederzeit schriftlich mit Nachricht an die E-Mail-Adresse customercare@localsearch.ch mitteilen.</p>

			<p>Die Anbieterin best&#228;tigt dem Kunden innerhalb von 10 Arbeitstagen, dass er zuk&#252;nftig nicht mehr bewertet werden kann.</p>

			<p>10.2 Die Anbieterin hat das ausschliessliche, geb&#252;hrenfreie, permanente, &#252;bertragbare, unwiderrufliche und uneingeschr&#228;nkt un-<br />
			terlizenzierbare Recht zur Verwendung, Vervielf&#228;ltigung, &#196;nderung, Anpassung, &#220;bersetzung, Verteilung, Ver&#246;ffentlichung und</p>

			<p>Vorf&#252;hrung der Bewertungen (Empfehlungen, Sternvergabe und Kommentare). Zudem darf die Anbieterin die Bewertungen<br />
			auf allen bekannten Medien und zu jedem Zweck verwenden mit oder ohne Verbindung des mit der Einsendung verbundenen<br />
			Namens oder des Namens des Kunden.<br />
			10.3 Die Anbieterin hat keine Verpflichtung, die Bewertungen, die auf ihren Diensten durch die Nutzer eingestellt oder verbreitet<br />
			werden, zu kontrollieren. Die Anbieterin haftet in keiner Weise f&#252;r die Bewertungen der Nutzer. Die Anbieterin hat das Recht,</p>

			<p>Bewertungen im alleinigen Ermessen und aus jedem Grund ohne Vorank&#252;ndigung zu sperren, zu l&#246;schen oder nicht freizu-<br />
			schalten.</p>

			<p>10.4 Die Anbieterin stellt ein Benachrichtigungsverfahren zur L&#246;schung von Inhalten bereit. Stellt der Kunde seiner Ansicht nach</p>

			<p>pers&#246;nlichkeits-, wettbewerbs-, urheberrechts- oder ehrverletzende, rassistische, gewaltverherrlichende, bedrohende, por-<br />
			nografische oder obsz&#246;ne Inhalte fest, so kann er dies mit Mitteilung an die E-Mail-Adresse customercare@localsearch.ch</p>

			<p>geltend machen. Die Anbieterin unternimmt die angemessenen Anstrengungen, um solche Inhalte innerhalb n&#252;tzlicher Frist zu<br />
			l&#246;schen.<br />
			11 Datenschutz</p>

			<p>11.1 Die Anbieterin kann Daten des Kunden an Gruppen- und Partnergesellschaften der Anbieterin sowie an Auftragsdatenbe-<br />
			arbeiter im In- und Ausland weiter- oder bekanntgeben und diese mit der Bearbeitung von Daten des Kunden beauftragen,</p>

			<p>insbesondere betreffend die Einholung von Ausk&#252;nften und Daten im Zusammenhang mit Abschluss und Abwicklung dieses<br />
			Vertrags, betreffend das Zahlungsverhalten des Kunden oder betreffend die bedarfsgerechte Gestaltung und Entwicklung<br />
			von Dienstleistungen der Anbieterin sowie f&#252;r allgemeine Marketing- und Marktforschungszwecken. Die Gesetzgebung im<br />
			Land des Empf&#228;ngers bietet f&#252;r die Bearbeitung von Daten nicht in allen F&#228;llen einen Schutz, der mit demjenigen der Schweiz<br />
			gleichwertig ist.<br />
			11.2 Im Rahmen des bestehenden Vertragsverh&#228;ltnisses ist die Anbieterin zudem berechtigt, dem Kunden eigene Informationen<br />
			sowie Informationen von Partnerunternehmen zu Waren, Werken oder Leistungen sowie massgeschneiderte Angebote per<br />
			postalischem oder elektronischem Versand (z.B. in Form eines Newsletters) zukommen zu lassen. Die Anbieterin darf f&#252;r die<br />
			Durchf&#252;hrung eines Versands auch Dritte beiziehen. W&#252;nscht der Kunde keine Mitteilungen der Anbieterin mehr, so kann er<br />
			sich jederzeit und kostenlos per E-Mail an customercare@localsearch.ch von jedwedem Versand abmelden.<br />
			12 Schlussbestimmungen<br />
			12.1 Nebenabreden, &#196;nderungen von vertraglichen Abmachungen oder Zusatzvereinbarungen sind nur g&#252;ltig, wenn sie schriftlich<br />
			vereinbart wurden oder &#8211; bei elektronischer Beziehung zum Kunden - nach erfolgter Best&#228;tigung durch die Anbieterin mittels<br />
			E-Mail (ausgenommen &#196;nderungen der AGB, vgl. Ziff. 1.2).</p>

			<p>12.2 Die Anbieterin ist berechtigt, einzelne oder mehrere Rechte und Pflichten aus diesem Vertrag oder das gesamte Vertragsver-<br />
			h&#228;ltnis auf einen Dritten zu &#252;bertragen. Eine &#220;bertragung durch den Kunden ist ausgeschlossen.</p>

			<p>12.3 &#196;nderungen in den rechtlichen Verh&#228;ltnissen des Kunden haben keinen Einfluss auf die G&#252;ltigkeit des Vertrags. Bei Betriebs-<br />
			einstellung des Kunden ist die Anbieterin berechtigt, den vertraglichen Restwert sofort mittels Schlussabrechnung zu faktu-<br />
			rieren.</p>

			<p>12.4 Die allf&#228;llige Ung&#252;ltigkeit einer der vorstehenden Vertragsbestimmungen l&#228;sst die Wirksamkeit des &#252;brigen Vertrags unbe-<br />
			r&#252;hrt. Das Vertragsverh&#228;ltnis zwischen den Parteien untersteht schweizerischem Recht mit Ausnahme der materiellen Nor-<br />
			men des Kollisionsrechtes sowie der Bestimmungen des Wiener Kaufrechtes (&#220;bereinkommen der Vereinten Nationen &#252;ber</p>

			<p>Vertr&#228;ge &#252;ber den internationalen Warenkauf, abgeschlossen in Wien am 11.04.1980). Gerichtsstand ist Z&#252;rich. Die Anbieterin</p>

			<p>ist berechtigt, den Kunden auch an seinem ordentlichen Gerichtsstand zu belangen. Zwingende Gerichtsst&#228;nde bleiben vorbe-</p>

			<div>&#160;</div>
			</td>
		</tr>
	</tbody>
</table>