<table cellpadding="1" cellspacing="1" style="width:1100px;">
	<tbody>
		<tr>
			<td>&#160;</td>
			<td>&#160;</td>
		</tr>
		<tr>
			<td>&#160;</td>
			<td>
			<p><span style="font-family:titillium web,sans-serif;"><span style="font-size:8px;">Swisscom Directories AG, F&#246;rrlibuckstrasse 62, Postfach, 8021 Z&#252;rich 1<br />
			UID: CHE-102.951.148 MWST</span></span></p>

			<p>&#160;</p>
			</td>
		</tr>
		<tr>
			<td><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;">{!quote.Account_Number__c}</span></span></td>
			<td><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;"><strong>Telefon</strong>&#160; &#160; &#160; &#160; &#160;0800 888 810</span></span></td>
		</tr>
		<tr>
			<td><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;">{!quote.SBQQ__BillingStreet__c}</span></span></td>
			<td><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;"><strong>E-Mail&#160;</strong>&#160; &#160; &#160; &#160; &#160;customercare@localsearch.ch</span></span></td>
		</tr>
		<tr>
			<td><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;">{!quote.SBQQ__BillingPostalCode__c}&#160;{!quote.SBQQ__BillingCity__c}</span>&#160;</span></td>
			<td><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;"><strong>Unsere Referenz</strong>&#160; &#160; {!quote.Owner_Name__c}</span></span></td>
		</tr>
		<tr>
			<td>&#160;</td>
			<td>&#160;</td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2"><strong><span style="font-family:titillium web,sans-serif;"><span style="font-size:16px;">OFFERTEN-NUMMER {!quote.Name} - SWISS LIST</span></span></strong></td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td>&#160;</td>
			<td>&#160;</td>
		</tr>
		<tr>
			<td><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;"><strong>Datum:</strong>&#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160;{!quote.SBQQ__StartDate__c}</span></span></td>
			<td><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;"><strong>Kundennummer:&#160; &#160;</strong>{!quote.Account_Customer_Number__c}&#160;</span></span></td>
		</tr>
		<tr>
			<td>&#160;</td>
			<td>&#160;</td>
		</tr>
		<tr>
			<td>&#160;</td>
			<td>&#160;</td>
		</tr>
		<tr>
			<td colspan="2"><span style="color:#808080;"><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;">Sehr geehrte Kundin, sehr geehrter Kunde</span></span></span></td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2"><span style="color:#808080;"><span style="font-size:12px;"><span style="font-family:titillium web,sans-serif;">Danke, dass Sie sich f&#252;r unser Produkt SWISS LIST entscheiden m&#246;chten.<br />
			Untenstehend sehen Sie die Aufstellung der Offerte im Detail.</span></span></span></td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2"><span style="color:#808080;"><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;">Bei Fragen stehen wir Ihnen unter&#160;<strong>customercare@localsearch.ch</strong>&#160;gerne zur Verf&#252;gung.</span></span></span></td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2"><span style="color:#808080;"><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;">Besten Dank und freundliche Gr&#252;sse<br style="color: rgb(169, 169, 169);" />
			Swisscom Directories AG</span></span></span></td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2"><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;"><strong>Vertragslaufzeit*:</strong>&#160;&#160;{!quote.SBQQ__StartDate__c}-{!quote.Contract_End_date_subscription_term__c}</span></span></td>
		</tr>
	</tbody>
</table>

<p>&#160;</p>
