<table cellpadding="1" cellspacing="1" style="width:1100px;">
  <tbody>
		<tr>
			<td>&#160;</td>
			<td>&#160;</td>
		</tr>
		<tr>
			<td>&#160;</td>
			<td>
			<p><span style="font-family:titillium web,sans-serif;"><span style="font-size:8px;">Swisscom Directories SA, F&#246;rrlibuckstrasse 62, CP, 8021 Zurich 1<br />
			UID: CHE-102.951.148 TVA</span></span></p>

			<p>&#160;</p>
			</td>
		</tr>
		<tr>
			<td><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;">{!quote.Account_Number__c}</span></span></td>
			<td><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;"><strong>Téléphone</strong>&#160; &#160; &#160; &#160; &#160;0800 888 810</span></span></td>
		</tr>
		<tr>
			<td><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;">{!quote.SBQQ__BillingStreet__c}</span></span></td>
			<td><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;"><strong>E-Mail&#160;</strong>&#160; &#160; &#160; &#160; &#160;customercare@localsearch.ch</span></span></td>
		</tr>
		<tr>
			<td><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;">{!quote.SBQQ__BillingPostalCode__c}&#160;{!quote.SBQQ__BillingCity__c}</span>&#160;</span></td>
			<td><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;"><strong>Référence</strong>&#160; &#160; {!quote.Owner_Name__c}</span></span></td>
		</tr>
		<tr>
			<td>&#160;</td>
			<td>&#160;</td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2"><strong><span style="font-family:titillium web,sans-serif;"><span style="font-size:16px;">OFFRE NUMÉRO
 {!quote.Name}</span></span></strong></td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td>&#160;</td>
			<td>&#160;</td>
		</tr>
		<tr>
			<td><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;"><strong>Date:</strong>&#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160;{!quote.SBQQ__StartDate__c}</span></span></td>
			<td><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;"><strong>Numéro de client:&#160; &#160;</strong>{!quote.Account_Customer_Number__c}&#160;</span></span></td>
		</tr>
		<tr>
			<td>&#160;</td>
			<td>&#160;</td>
		</tr>
		<tr>
			<td>&#160;</td>
			<td>&#160;</td>
		</tr>
		<tr>
			<td colspan="2"><span style="color:#808080;"><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;">Chère cliente, cher client,</span></span></span></td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2"><span style="color:#808080;"><span style="font-size:12px;"><span style="font-family:titillium web,sans-serif;">Nous sommes heureux d’apprendre que vous avez opté pour notre produit SWISS LIST. <br />
			Vous trouverez ci-dessous les informations détaillées de l’offre.</span></span></span></td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2"><span style="color:#808080;"><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;">Si vous avez la moindre question, nous nous tenons à votre disposition à l’adresse suivante:&#160;<br><strong>customercare@localsearch.ch</strong>&#160;.</span></span></span></td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2"><span style="color:#808080;"><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;">Merci pour votre confiance.<br>Meilleures salutations,<br style="color: rgb(169, 169, 169);" />
			Swisscom Directories SA</span></span></span></td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
		</tr>
		<tr>
			<td colspan="2"><span style="font-family:titillium web,sans-serif;"><span style="font-size:12px;"><strong>Durée du contrat*:</strong>&#160;&#160;{!quote.SBQQ__StartDate__c}-{!quote.Contract_End_date_subscription_term__c}</span></span></td>
		</tr>
	</tbody>
</table>

<p>&#160;</p>
