<p>&#160;</p>

<p>&#160;</p>

<p>&#160;</p>

<p><span style="font-family:titillium web,sans-serif;"><span style="color:#808080;"><span style="font-size:8px;">* Le contrat se prolonge automatiquement pour la dur&eacute;e d'un an dans la mesure o&ugrave; ni le client ni<br />
&#160; &#160;Swisscom Directories AG n'annule le contrat du produit dans un d&eacute;lai de r&eacute;siliation de 30 jours avant l'expiration de ce dernier.<br />
&#160; &#160;Conditions compl&eacute;mentaires (CC) relatives aux produits &#8220;SWISS LIST&#8221;, telles qu'elles figurent dans l'annexe, s'appliquent.</span></span></span></p>

<p>&#160;</p>

<p>&#160;</p>
