<table cellpadding="1" cellspacing="1" style="width:1300px;">
	<tbody>
		<tr>
			<td>
			<p>&#160;</p>

			<p><strong><span style="font-size:6px;">8 &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; Verg&#252;tung, Rechnungsstellung und Zahlungsbedingungen</span></strong></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size:6px;">8.1 Bei der f&#252;r das Produkt geschuldeten Verg&#252;tung handelt es sich um einen Nettopreis. Die gesetzliche Mehrwertsteuer wird zus&#228;tzlich in Rechnung gestellt. F&#252;r die Anpassung der Verg&#252;tung gilt Ziffer 9.3.</span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size:6px;">8.2 Die Rechnungsstellung erfolgt j&#228;hrlich jeweils zu Beginn der Laufzeit. Die Anbieterin kann vom Kunden Vorauszahlungen verlangen, bevor sie ihre Leistungen erbringt. Die Anbieterin ist berechtigt, die Verg&#252;tung via Fernmelderechnung einer FDA, z.B. Swisscom (Schweiz) AG, oder via andere Partner einzuziehen.</span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">8.3 Der Kunde verpflichtet sich, die Verg&#252;tung innerhalb von 30 Tagen nach Rechnungsstellung ohne jegliche Abz&#252;ge auf das auf der Rechnung angegebene Konto der Anbieterin zu bezahlen.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">8.4 Bei &#220;berschreitung der Zahlungsfrist Ziffer 8.3 tritt ohne weiteres der Zahlungsverzug ein. Bei Zahlungsverzug ist der gesetzliche Verzugszins von 5 % p.a. gem&#228;ss Art. 104 OR geschuldet. Zudem ist die Anbieterin berechtigt, Mahngeb&#252;hren zur teilweisen Deckung der entstandenen Kosten zu verlangen. Der offene Rechnungsbetrag zuz&#252;glich allf&#228;lliger Mahngeb&#252;hren und Zinsen kann zum Zwecke des Inkassos an Dritte abgetreten werden. Bei &#220;bergabe der Forderung an ein Inkassounternehmen kann die Anbieterin dem Kunden die Kosten f&#252;r die Abtretung in der H&#246;he von CHF 75.&#8211; auferlegen. Der Betrag wird vom Inkassounternehmen in Rechnung gestellt.&#160;</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">8.5 Die Anbieterin ist zudem berechtigt, ihre Leistungen nach unbenutztem Ablauf der 1. Mahnung einzustellen, bis s&#228;mtliche geschuldeten Betr&#228;ge bei der Anbieterin eingegangen sind. Die der Anbieterin zustehenden gesetzlichen Rechte bleiben in jedem Fall vorbehalten.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">8.6 Der Kunde ist nur berechtigt, die geschuldete Verg&#252;tung mit einem vom Kunden geltend gemachten Anspruch zu verrechnen, wenn dieser Anspruch durch die Anbieterin anerkannt oder rechtskr&#228;ftig festgestellt ist.</span></span></p>

			<p><strong><span style="font-size:6px;"><span style="font-family:titillium web,sans-serif;">9 &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; Anpassung von Produkten, Leistungen und Verg&#252;tung</span></span></strong></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">9.1 Die Anbieterin ist jederzeit berechtigt, Produkte und Leistungen anzupassen, sofern der Leistungsumfang im Wesentlichen gleichwertig bleibt. Dazu geh&#246;ren z.B. gestalterische Anpassungen, Anpassungen an technologische Erfordernisse bzw. Entwicklungen, &#196;nderungen, Ersatz und Wegfall von Funktionalit&#228;ten bzw. zu publizierenden Inhalten sowie &#196;nderungen in der Zusammensetzung der Publisher bzw. Drittplattformen. Die aktuellen Produktbeschreibungen sind auf swisslist.localsearch.ch ersichtlich.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">9.2 &#196;nderungen von Produkten und Leistungen, welche den Leistungsanspruch des Kunden unzumutbar beeintr&#228;chtigen, gibt die Anbieterin dem Kunden in geeigneter Weise (z.B. in einem Informationsschreiben, per E-Mail oder auf der Rechnung) rechtzeitig im Voraus, wenn m&#246;glich 30 Tage vor Inkrafttreten, bekannt (&#171;Ank&#252;ndigungsfrist&#187;). Der Kunde ist in einem solchen Fall berechtigt, den Vertrag bis zum Ablauf der Ank&#252;ndigungsfrist mit Wirkung auf das Inkrafttreten der &#196;nderung vorzeitig zu k&#252;ndigen, andernfalls die &#196;nderungen als akzeptiert gelten. F&#252;r die Form der K&#252;ndigung gilt Ziffer 3.6.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">9.3 Erh&#246;ht die Anbieterin die f&#252;r Produkte und Leistungen geschuldete Verg&#252;tung, gilt Ziffer 9.2 entsprechend.</span></span></p>

			<p><strong><span style="font-size:6px;"><span style="font-family:titillium web,sans-serif;">10 &#160;&#160;&#160;&#160;&#160;&#160;&#160; Geistiges Eigentum</span></span></strong></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">10.1 Der Anbieterin stehen s&#228;mtliche Eigentums- und Schutzrechte (z.B. Urheber- und Markenrechte) an Produkten, Leistungen sowie Dokumentation (z.B. Produktbrosch&#252;ren, Webseite) zu. Die Anbieterin erteilt dem Kunden f&#252;r die Laufzeit des Vertrags das un&#252;bertragbare, nicht ausschliessliche Recht zur vertragsgem&#228;ssen Nutzung der vom Vertrag umfassten Produkte, Leistungen und Dokumentation.</span></span></p>

			<p style="margin-left: -0.75pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">&#160; &#160; &#160; &#160; &#160; &#160; &#160; 10.2 &#160; Die Rechte Dritter (z.B. Support-Partner und Publisher) bleiben vorbehalten.</span></span></p>

			<p><strong><span style="font-size:6px;"><span style="font-family:titillium web,sans-serif;">11 &#160;&#160;&#160;&#160;&#160;&#160; Verf&#252;gbarkeit, Gew&#228;hrleistung</span></span></strong></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">11.1 Die Anbieterin bem&#252;ht sich, eine hohe Verf&#252;gbarkeit ihrer Produkte und Leistungen sowie des Kundencenters sicherzustellen, &#252;bernimmt jedoch keine Gew&#228;hr f&#252;r ein unterbruchs- und st&#246;rungsfreies Funktionieren. Sie bem&#252;ht sich zudem, technische St&#246;rungen, welche in ihrem Machtbereich liegen, innert angemessener Frist zu beheben, &#252;bernimmt jedoch keine Gew&#228;hr f&#252;r die Verf&#252;gbarkeit von technischem Support. Weitere Gew&#228;hrleistungsanspr&#252;che des Kunden sind ausgeschlossen. Insbesondere sind s&#228;mtliche Gew&#228;hrleistungsanspr&#252;che im Zusammenhang mit den Drittplattformen ausgeschlossen.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">11.2 Die Support-Partner geben gegen&#252;ber dem Kunden keine Gew&#228;hrleistungen oder Garantien ab. Der Kunde hat s&#228;mtliche Anspr&#252;che gegen&#252;ber der Anbieterin als seiner Vertragspartnerin geltend zu machen.</span></span></p>

			<p style="margin-left: -0.75pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">&#160; &#160; &#160; &#160; &#160; &#160; &#160; 11.3 &#160;&#160; F&#252;r die Gew&#228;hrleistung durch den Kunden gilt Ziffer 7.3.</span></span></p>

			<p><strong><span style="font-size:6px;"><span style="font-family:titillium web,sans-serif;">12 &#160;&#160;&#160;&#160;&#160;&#160;&#160; Haftung</span></span></strong></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">12.1 Die Anbieterin steht gegen&#252;ber dem Kunden f&#252;r die sorgf&#228;ltige und vertragsgem&#228;sse Erbringung der vereinbarten Leistungen ein. Die Anbieterin haftet bei nur Vorsatz und grober Fahrl&#228;ssigkeit. Ansonsten ist die Haftung im Rahmen des gesetzlich Zul&#228;ssigen wegbedungen. Insbesondere ist die Haftung f&#252;r indirekte Sch&#228;den und Folgesch&#228;den, f&#252;r F&#228;lle h&#246;herer Gewalt und Streiks, f&#252;r technische St&#246;rungen, die in den Verantwortungsbereich Dritter fallen sowie f&#252;r Hilfspersonen ausgeschlossen. Soweit eine Haftung der Anbieterin besteht, ist sie in allen F&#228;llen betragsm&#228;ssig auf den nachgewiesenen Schaden, h&#246;chstens aber auf die vom Kunden f&#252;r das Produkt geschuldete j&#228;hrliche Verg&#252;tung beschr&#228;nkt.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">12.2 Eine Haftung der Anbieterin f&#252;r Handlungen und Unterlassungen der Publisher ist ausgeschlossen. Ebenfalls ausgeschlossen ist eine Haftung der Anbieterin f&#252;r Handlungen von Nutzern gegen&#252;ber dem Kunden (z.B. unbefugtes Kopieren von auf den Online-Plattformen publizierten Inhalten).</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">12.3 Eine Haftung der Support-Partner gegen&#252;ber dem Kunden ist soweit gesetzlich zul&#228;ssig ausgeschlossen.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">12.4 Der Kunde haftet der Anbieterin f&#252;r Sch&#228;den aus Vertragsverletzungen und stellt die Anbieterin von allen Anspr&#252;chen Dritter frei, die Dritte gegen die Anbieterin im Zusammenhang mit der Nutzung von Produkten durch den Kunden geltend machen.</span></span></p>

			<p><strong><span style="font-size:6px;"><span style="font-family:titillium web,sans-serif;">13 &#160;&#160;&#160;&#160;&#160;&#160;&#160; Datenschutz</span></span></strong></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">13.1 Es gilt die Datenschutzerkl&#228;rung der Anbieterin in ihrer jeweils aktuellen Fassung, die unter&#160;www.localsearch.ch und swisslist.localsearch.ch verf&#252;gbar ist.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">13.2 Die Anbieterin kann dem Kunden Informationen zu anderen Produkten oder Dienstleistungen der Anbieterin zukommen lassen (z.B. in Form eines Newsletters oder per Brief). W&#252;nscht der Kunde keine solchen Mitteilungen der Anbieterin mehr, so kann er sich jederzeit per E-Mail an swisslist@localsearch.ch, per Brief oder telefonisch &#252;ber die unter swisslist.localsearch.ch angegebenen Kontaktdaten abmelden.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">13.3 Der Kunde ist verpflichtet, die Vorgaben des anwendbaren Datenschutzrechts einzuhalten. Er hat sicherzustellen, dass er zum Vertragsabschluss mit der Anbieterin und der in diesem Zusammenhang erfolgten &#220;bermittlung von Personendaten an die Anbieterin berechtigt ist. Er ist insbesondere verpflichtet, gegebenenfalls erforderliche Einwilligungen einzuholen und alle Informationspflichten zu erf&#252;llen. Der Kunde h&#228;lt die Anbieterin von s&#228;mtlichen Anspr&#252;chen Dritter, welche diese gegen die Anbieterin im Zusammenhang mit der vertragsgem&#228;ssen Bearbeitung von Personendaten geltend machen, vollumf&#228;nglich schadlos.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">13.4 Der Kunde nimmt zur Kenntnis und stimmt zu, dass die Anbieterin bzw. deren Support-Partner den Publishern im Zusammenhang mit der Publikation der Inhalte weitergehende Bearbeitungs- und Nutzungsrechte einr&#228;umen m&#252;ssen (siehe Ziffer 5.6). Soweit die Inhalte Personendaten enthalten, sind die Publisher selbst verpflichtet, anwendbare Datenschutzgesetze einzuhalten. Es gelten dabei die Datenschutzerkl&#228;rungen des jeweiligen Publishers. Die Publisher sind gegen&#252;ber dem Kunden selbst f&#252;r ihre Datenbearbeitungen verantwortlich und der Kunde nimmt zur Kenntnis, dass die Anbieterin die Bearbeitung der den Publishern &#252;bermittelten Inhalte, einschliesslich darin enthaltener Personendaten, nicht kontrollieren kann.</span></span></p>
			</td>
			<td>
			<p align="left" style="margin-left: -0.75pt;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">&#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; </span></span></p>

			<p align="left" style="margin-left: -0.75pt;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">&#160; &#160; &#160; &#160; &#160; &#160; &#160;13.5 &#160;&#160;&#160; Auftragsdatenbearbeitung</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">Soweit der Kunde der Anbieterin Personendaten zur Verf&#252;gung stellt, welche die Anbieterin als Auftragsdatenbearbeiterin im Sinne des anwendbaren Datenschutzrechts bearbeitet, bleibt der Kunde im Verh&#228;ltnis zur Anbieterin alleinige verantwortliche Stelle im Sinne des Datenschutzrechts und er ist f&#252;r die Rechtm&#228;ssigkeit der Erhebung, Bearbeitung und Nutzung dieser Personendaten gem&#228;ss den gesetzlichen Bestimmungen verantwortlich. Zudem gilt Folgendes:</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">13.5.1 Die Anbieterin bearbeitet die ihr vom Kunden zur Bearbeitung zur Verf&#252;gung gestellten Personendaten w&#228;hrend der Vertragsdauer f&#252;r die Erbringung der vertragsgem&#228;ssen Leistungen und speichert und bearbeitet diese Personendaten dazu auf ihren Systemen im Auftrag des Kunden.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">13.5.2 Die Anbieterin bearbeitet die Personendaten unter Vorbehalt zwingender gesetzlicher Bestimmungen ausschliesslich f&#252;r die Durchf&#252;hrung des Vertrags, nur f&#252;r die Zwecke und nur gem&#228;ss dokumentierter Instruktion des Kunden. Die Instruktionen des Kunden ergeben sich prim&#228;r aus dem Vertrag sowie aus der Art und Weise, wie der Kunde die Dienste der Anbieterin in Anspruch nimmt.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">13.5.3 Die Anbieterin sorgt daf&#252;r, dass s&#228;mtliche Personen, die befugt sind, Personendaten zu bearbeiten, sich zur Geheimhaltung verpflichten, falls sie nicht einer angemessenen gesetzlichen Geheimhaltungspflicht unterliegen.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">13.5.4 Die Anbieterin setzt angemessene technische und organisatorische Massnahmen zum Schutz der Personendaten um, welche den Anforderungen des Schweizer Datenschutzgesetzes sowie von Art. 32 der Europ&#228;ischen Datenschutz-Grundverordnung (DSGVO) entsprechen.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">13.5.5 Die Anbieterin unterst&#252;tzt den Kunden, soweit vern&#252;nftigerweise m&#246;glich, durch angemessene technische und organisatorische Massnahmen bei der Erf&#252;llung der Informationspflicht gegen&#252;ber der betroffenen Person nach Massgabe des anwendbaren Datenschutzrechts und beantwortet Anfragen des Kunden betreffend die Rechte der betroffenen Person.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">13.5.6 Die Anbieterin informiert den Kunden unverz&#252;glich, falls sie zur Auffassung gelangt, dass eine Instruktion des Kunden betreffend die Bearbeitung der Personendaten das anwendbare Datenschutzrecht verletzen k&#246;nnte.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">13.5.7 Die Anbieterin unterst&#252;tzt den Kunden in Bezug auf die ihm obliegenden Pflichten unter dem anwendbaren Datenschutzrecht, bspw. Art. 32 bis 36 DSGVO bzw. entsprechende Bestimmungen des Schweizer Datenschutzrechts. Die Anbieterin informiert den Kunden unverz&#252;glich &#252;ber eine Datenschutzverletzung im Verantwortungsbereich der Anbieterin.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">13.5.8 Die Anbieterin stellt dem Kunden alle Informationen zur Verf&#252;gung, welche vern&#252;nftigerweise ben&#246;tigt werden, damit der Kunde die Einhaltung der Vorschriften dieser Ziffer 13.5 durch die Anbieterin angemessen dokumentieren kann. Wo dies unter dem anwendbaren Datenschutzrecht zwingend notwendig ist und die von der Anbieterin zur Verf&#252;gung gestellten Informationen allein nicht ausreichend sind, erlaubt die Anbieterin dem Kunden im rechtlich zwingend notwendigen Umfang, durch den Kunden oder einen von der Anbieterin akzeptierten, vom Kunden beauftragten und zur Geheimhaltung verpflichteten Pr&#252;fer durchgef&#252;hrte Inspektionen auf Kosten des Kunden zu erm&#246;glichen. Solche Inspektionen d&#252;rfen den ordentlichen Betriebsablauf bei der Anbieterin und den betroffenen Unterauftragsbearbeitern nicht behindern. Sie sind nach vorg&#228;ngiger Absprache w&#228;hrend der &#252;blichen Betriebszeiten durchzuf&#252;hren und d&#252;rfen den Schutz von Geheimnissen und Personendaten anderer Kunden der Anbieterin nicht beeintr&#228;chtigen.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">13.5.9 Die Anbieterin darf die Bearbeitung von Personendaten an Dritte (&#171;Unterauftragsbearbeiter&#187;) auslagern, insbesondere f&#252;r die Zwecke des Betriebs, der Entwicklung und der Wartung der zur Leistungserbringung verwendeten IT-Infrastruktur der Anbieterin. Der Kunde stimmt einer solchen Auslagerung hiermit zu. Eine jeweils aktuelle Liste der von der Anbieterin beigezogenen Unterauftragsbearbeiter ist im Kundencenter einsehbar. Die Anbieterin ist berechtigt, &#196;nderungen an dieser Liste vorzunehmen und sie informiert den Kunden in geeigneter Weise (bspw. durch Anzeige im Kundencenter) dar&#252;ber. Widerspricht der Kunde einer solchen &#196;nderung nicht innert 15 Tagen (oder innert einer in dringenden F&#228;llen von der Anbieterin bezeichneten k&#252;rzeren Frist) seit Datum der Mitteilung, gilt die Zustimmung des Kunden zur &#196;nderung als erteilt. Widerspricht der Kunde rechtzeitig einer von der Anbieterin mitgeteilten &#196;nderung, kann die Anbieterin nach ihrer Wahl entweder auf die Umsetzung der vom Kunden nicht akzeptierten &#196;nderung verzichten oder den Vertrag mit sofortiger Wirkung beenden.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">13.5.10 Die Anbieterin ist berechtigt, dem Kunden aufgrund der Erbringung von Leistungen gem&#228;ss Ziffer 13.5.5, 13.5.7 und 13.5.8 entstehende Kosten und Auslagen in Rechnung zu stellen, sofern die Anbieterin dies dem Kunden vorg&#228;ngig angezeigt hat.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">13.5.11 Auf Verlangen des Kunden, sp&#228;testens aber bei Vertragsende, wird die Anbieterin die als Auftragsbearbeiterin f&#252;r den Kunden bearbeiteten Personendaten l&#246;schen, sofern die Anbieterin nicht gesetzlich zur Aufbewahrung verpflichtet ist. Wo eine L&#246;schung nur mit unverh&#228;ltnism&#228;ssigem Aufwand m&#246;glich ist (z.B. in Back-ups), kann die Anbieterin den Zugriff auf die Personendaten stattdessen sperren. Wo die Anbieterin Personendaten, die ihr in ihrer Funktion als Auftragsbearbeiterin f&#252;r den Kunden &#252;bermittelt wurden &#252;ber das Vertragsende hinaus aufbewahrt, wird sie diese weiterhin gem&#228;ss den Bestimmungen dieser Ziffer 13 vertraulich aufbewahren. Die Anbieterin ist berechtigt, Daten &#8211; auch &#252;ber das Vertragsende hinaus &#8211; in anonymisierter Form zur Fehleranalyse und Fortentwicklung der Funktionen der Software oder zum Benchmarking zu nutzen.</span></span></p>

			<p><strong><span style="font-size:6px;"><span style="font-family:titillium web,sans-serif;">&#160; &#160; 14&#160; &#160; &#160;&#160;Schlussbestimmungen</span></span></strong></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">14.1 Nebenabreden, &#196;nderungen von vertraglichen Abmachungen oder Zusatzvereinbarungen sind nur g&#252;ltig, wenn sie schriftlich vereinbart wurden oder &#8211; bei elektronischer Beziehung zum Kunden &#8211; nach erfolgter Best&#228;tigung durch die Anbieterin mittels E-Mail (ausgenommen &#196;nderungen der ZB, siehe</span></span></p>

			<p style="margin-left: 18.4pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">Ziffer 1.3).</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">14.2 Mitteilungen der Anbieterin an den Kunden erfolgen an die vom Kunden angegebene Adresse bzw. E-Mail. &#196;nderungen der Adresse, der internen Ansprechperson und der Korrespondenz-E-Mail sind der Anbieterin rechtzeitig im Voraus bekanntzugeben.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">14.3 &#160;&#160;&#160;&#160; Die Anbieterin ist berechtigt, einzelne oder mehrere Rechte und Pflichten aus dem Vertrag oder das gesamte Vertragsverh&#228;ltnis auf einen Dritten zu &#252;bertragen. Eine &#220;bertragung durch den Kunden ist ausgeschlossen.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">14.4 Die allf&#228;llige Ung&#252;ltigkeit einer Bestimmung des Vertrags (inklusive dieser ZB) l&#228;sst die Wirksamkeit des &#252;brigen Vertrags unber&#252;hrt.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">14.5 Der Vertrag untersteht schweizerischem Recht, wobei die materiellen Normen des Kollisionsrechtes sowie die Bestimmungen des Wiener Kaufrechtes (&#220;bereinkommen der Vereinten Nationen &#252;ber Vertr&#228;ge &#252;ber den internationalen Warenkauf, abgeschlossen in Wien am 11.04.1980) wegbedungen werden.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">14.6 Gerichtsstand f&#252;r s&#228;mtliche Streitigkeiten, die sich aus dem Vertrag ergeben, ist Z&#252;rich. Die Anbieterin ist zudem berechtigt, den Kunden an seinem ordentlichen Gerichtsstand zu belangen; zwingende Gerichtsst&#228;nde bleiben vorbehalten.</span></span></p>

			<p style="margin-left: 18.15pt;">&#160;</p>

			<p style="margin-left: -0.75pt; text-align: center;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">&#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; &#160; Swisscom Directories AG, Januar 2019</span></span></p>
			</td>
		</tr>
	</tbody>
</table>

<p>&#160;</p>
