<table cellpadding="1" cellspacing="1" style="width:1300px;">
	<tbody>
		<tr>
			<td>&#160;</td>
			<td><span style="font-size:14px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">Zusatzbedingungen (ZB) f&#252;r &#171;SWISS LIST&#187;-Produkte</span></span></td>
		</tr>
		<tr>
			<td>&#160;</td>
			<td>&#160;</td>
		</tr>
		<tr>
			<td>
			<p><strong><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">1&#160; &#160; &#160; &#160; &#160; &#160;Vertragsparteien und Anwendbarkeit</span></span></strong></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">1.1 Die Swisscom Directories AG (&#171;Anbieterin&#187;) ist Anbieterin der auf www.localsearch.ch und swisslist. localsearch.ch umschriebenen Produkte und Dienstleistungen. Die Anbieterin schliesst mit dem Kunden einen Vertrag zum jeweils gew&#252;nschten &#171;SWISS LIST&#187;-Produkt (&#171;Vertrag&#187;). Der Kunde und die Anbieterin sind je eine &#171;Partei&#187; und zusammen die &#171;Parteien&#187; dieses Vertrags.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">1.2 Diese Zusatzbedingungen (ZB) f&#252;r &#171;SWISS LIST&#187;-Produkte sind Bestandteil des zwischen den Parteien abgeschlossenen Vertrags. Die ZB gelten erg&#228;nzend zu den Eintragsbestimmungen der Anbieterin in ihrer jeweils aktuellen Fassung, die unter www.localsearch.ch verf&#252;gbar sind. Bei Widerspr&#252;chen geht der Vertrag den ZB und die ZB den Eintragsbestimmungen vor.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">1.3 Die Anbieterin ist berechtigt, diese ZB jederzeit anzupassen. Der Kunde kann die jeweils aktuellen ZB unter swisslist.localsearch.ch einsehen oder bei der Anbieterin ein Exemplar bestellen. Der Kunde best&#228;tigt mit jeder &#196;nderung der Inhalte, dem Bezug neuer Leistungen oder der Bezahlung jeder Rechnung, die jeweils aktuelle Version der ZB zur Kenntnis genommen und akzeptiert zu haben. F&#252;r die Anpassung von Leistungen und Verg&#252;tung gilt Ziffer 9 dieser ZB.</span></span></p>

			<p><strong><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">2&#160; &#160; &#160; &#160; &#160; &#160;Definitionen</span></span></strong></p>

			<ul>
				<li>
				<p style="text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">&#171;Drittplattformen&#187;: Online-Plattformen Dritter, welche von Dritten betrieben und / oder zur Verf&#252;-gung gestellt werden, wie z.B. Suchmaschinen, Firmenportale, Online-Branchenverzeichnisse, digitale Karten und Navigationssysteme.</span></span></p>
				</li>
				<li>
				<p style="text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">&#171;Inhalte&#187;: Standort-Informationen des Kunden (z.B. Name des Unternehmens, Adresse, Telefon-nummer, &#214;ffnungszeiten) sowie andere Inhalte (z.B. Attribute, Keywords), welche der Kunde der Anbieterin im Kundencenter zum Zwecke der Publikation im Rahmen des jeweiligen Produkts zur Verf&#252;gung stellt, inklusive sp&#228;tere &#196;nderungen und Erg&#228;nzungen. Die zur Publikation vorgesehenen Inhalte k&#246;nnen sich je nach &#171;SWISS LIST&#187;-Produkt unterscheiden.</span></span></p>
				</li>
				<li>
				<p style="text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">&#171;Online-Plattformen der Anbieterin&#187;: die Online-Plattformen, welche von der Anbieterin betrieben und / oder zur Verf&#252;gung gestellt werden (z.B. www.local.ch, www.search.ch und www.localcities.ch).</span></span></p>
				</li>
				<li>
				<p style="text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">&#171;Produkt&#187;: die Produkte der &#171;SWISS LIST&#187;-Produktlinie der Anbieterin.</span></span></p>
				</li>
				<li>
				<p style="text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">&#171;Publikation&#187;: Print- und Online-Publikation von Inhalten auf Online-Plattformen sowie in Print-verzeichnissen der Anbieterin sowie auf Drittplattformen.</span></span></p>
				</li>
				<li>
				<p style="text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">&#171;Publisher&#187;: der Betreiber einer Drittplattform.</span></span></p>
				</li>
				<li>
				<p style="text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">&#171;Support-Partner&#187;: die von der Anbieterin f&#252;r die Erbringung der Leistungen beigezogenen verbunde-nen Unternehmen und / oder andere Dritte.</span></span></p>
				</li>
				<li>
				<p style="text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">&#171;Vertrag&#187;:&#160; der Vertrag zwischen dem Kunden und der Anbieterin betreffend das Produkt, inklusive dieser ZB und der Eintragsbestimmungen.</span></span></p>
				</li>
			</ul>

			<p><strong><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">3&#160; &#160; &#160; &#160; &#160; &#160;Inkrafttreten, Laufzeit und K&#252;ndigung</span></span></strong></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">3.1 Der Vertrag tritt mit der Zustimmung des Kunden zu einer von der Anbieterin vorgelegten Offerte bzw. einem Vertrag an dem darin genannten Datum in Kraft. Die Zustimmung des Kunden kann durch fernm&#252;ndliche Zustimmung am Telefon, Best&#228;tigung per E-Mail und / oder Fax, Unterzeichnung von Offerte bzw. Vertrag mittels Stift auf dem Bildschirm des Verkaufsger&#228;tes der Anbieterin, Unterzeichnung eines Papiervertrags oder konkludentes Verhalten erteilt werden (z.B. Bezahlung der Rechnung).</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">3.2 Die Anbieterin hat das Recht, nach Pr&#252;fung der Vertragsangaben des Kunden innert 30 Tagen nach Vertragsabschluss ohne Angabe von Gr&#252;nden entsch&#228;digungslos vom Vertrag zur&#252;ckzutreten.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">3.3 Laufzeit und gegebenenfalls ordentliche K&#252;ndigung werden in der Offerte bzw. im Vertrag geregelt. Fehlt eine&#160; Regelung, wird der Vertrag f&#252;r eine Laufzeit von einem Jahr abgeschlossen, welche sich jeweils automatisch um ein weiteres Jahr verl&#228;ngert, sofern der Vertrag weder vom Kunden noch von der Anbieterin mit einer K&#252;ndigungsfrist von 30 Tagen vor Ablauf der Laufzeit gek&#252;ndigt wird.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">3.4 Die Anbieterin kann den Vertrag dar&#252;ber hinaus jederzeit aus wichtigen Gr&#252;nden ohne Einhaltung einer Frist ausserordentlich k&#252;ndigen, so z.B. bei nicht fristgerechter Bezahlung der Verg&#252;tung oder anderen Vertragsverletzungen, sofern der Kunde den vertragskonformen Zustand nicht innerhalb einer von der Anbieterin angesetzten angemessenen Frist wiederherstellt. Der Kunde schuldet im Falle einer ausserordentlichen K&#252;ndigung durch die Anbieterin die gesamte f&#252;r die urspr&#252;ngliche Laufzeit vereinbarte Verg&#252;tung.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">3.5 Einstellung oder Verkauf des Gesch&#228;ftsbetriebs durch den Kunden berechtigt den Kunden nicht zur vorzeitigen K&#252;ndigung des Vertrags. Entl&#228;sst die Anbieterin den Kunden nach ihrem Ermessen aus einem solchen Grund vorzeitig aus dem Vertrag, schuldet der Kunde mangels abweichender schriftlicher Vereinbarung die gesamte f&#252;r die urspr&#252;ngliche Laufzeit vereinbarte Verg&#252;tung.</span></span></p>

			<p style="margin-left: -0.75pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">&#160; &#160; &#160; &#160; &#160; &#160; &#160; 3.6 &#160;&#160;&#160; Eine K&#252;ndigung durch den Kunden hat per Post oder E-Mail an swisslist@localsearch.ch zu erfolgen.</span></span></p>

			<p><strong><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">4&#160; &#160; &#160; &#160; &#160;&#160; Leistungen der Anbieterin</span></span></strong></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">4.1 Die vom Produkt umfassten Leistungen der Anbieterin sind in der Offerte bzw. im Vertrag und auf&#160; swisslist.localsearch.ch beschrieben. F&#252;r die Anpassung von Leistungen gilt Ziffer 9.&#160;</span></span></p>

			<p style="margin-left: -0.75pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">&#160; &#160; &#160; &#160; &#160; &#160; &#160;&#160;4.2 &#160;&#160; Die Anbieterin ist berechtigt, f&#252;r die Erbringung der Leistungen Support-Partner beizuziehen.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">4.3 Der Kunde erkl&#228;rt sich damit einverstanden, dass die im Kundencenter hinterlegten und vom jeweiligen Produkt umfassten Inhalte w&#228;hrend der Laufzeit des Vertrags auf den Online-Plattformen der Anbieterin sowie in deren Printverzeichnissen publiziert werden. Verf&#252;gte der Kunde vor dem &#171;SWISS LIST&#187;-Produkt bereits &#252;ber ein anderes Produkt der Anbieterin, welches die Publikation von Inhalten auf den Online-Plattformen der Anbieterin umfasste, werden die bestehenden Inhalte automatisch ins Kundencenter &#252;bernommen. F&#252;r die Publikation von Inhalten auf Drittplattformen gelten erg&#228;nzend die Bestimmungen von Ziffer 5.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">4.4 Die Anbieterin publiziert die f&#252;r die Print-Publikation vorgesehenen Inhalte gem&#228;ss der dem Kunden zur Verf&#252;gung gestellten Publikations&#252;bersicht in den Printverzeichnissen der Anbieterin. Die Anbieterin ist jederzeit berechtigt, Redaktionsschluss und Publikationstermine anzupassen. Inhalte, die von der Anbieterin erst nach Redaktionsschluss verarbeitet werden k&#246;nnen, erscheinen in der n&#228;chsten Auflage des betreffenden Printverzeichnisses.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">4.5 Fixe Termine sind im Vertrag als solche zu bezeichnen. Bei allen anderen Fristen und Terminen handelt es sich um ungef&#228;hre Leistungsangaben, wobei die Anbieterin kommerziell vern&#252;nftige Anstrengungen unternimmt, um diese einzuhalten.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">4.6 Die Anbieterin ist nicht verantwortlich f&#252;r Verz&#246;gerungen ihrer Leistungen, welche durch eine unvollst&#228;ndige, nicht vertragsgem&#228;sse oder nicht fristgerechte Erf&#252;llung von Pflichten des Kunden gem&#228;ss Ziffer 7 verursacht werden.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">4.7 Die Anbieterin ist nicht verpflichtet, die vom Kunden zur Verf&#252;gung gestellten Inhalte oder die Berechtigung des Kunden an den Inhalten zu pr&#252;fen. Die Anbieterin kann jedoch vom Kunden einen Berechtigungsnachweis verlangen und / oder die Publikation von Inhalten ablehnen, &#228;ndern oder l&#246;schen, wenn diese nach Ermessen der Anbieterin die Zusicherungen des Kunden gem&#228;ss Ziffer 7.3 verletzen oder andere sachlich gerechtfertigte Gr&#252;nde bestehen. Die Anbieterin ist ebenfalls berechtigt, dem Kunden eine angemessene Frist zur Anpassung bzw. L&#246;schung von Inhalten anzusetzen und ihre Leistungen nach unbenutztem Ablauf der Frist einzustellen. Der Kunde ist in diesem Fall berechtigt, ge&#228;nderte Inhalte zu publizieren, hat jedoch keinen Anspruch auf Reduktion</span></span></p>
			</td>
			<td>
			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size:6px;"><span style="font-family:titillium web,sans-serif;">oder R&#252;ckerstattung der Verg&#252;tung. Wird die Anbieterin von Dritten im Zusammenhang mit den Inhalten wegen der Verletzung von Drittrechten abgemahnt, ist die Anbieterin zudem berechtigt, den Vertrag gem&#228;ss Ziffer 3.4 fristlos zu k&#252;ndigen.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size:6px;"><span style="font-family:titillium web,sans-serif;">4.8 Der Kunde nimmt zur Kenntnis, dass die auf den Online-Plattformen der Anbieterin publizierten Inhalte &#246;ffentlich und f&#252;r jedermann verf&#252;gbar gemacht werden und dass Dritte die auf den Online-Plattformen der Anbieterin publizierten Inhalte weiterverbreiten k&#246;nnen, ohne dass die Anbieterin dies kontrollieren kann. Nach Ablauf des Vertrag k&#246;nnen die &#252;bermittelten Inhalte auf anderen, von Dritten kontrollierten Plattformen publiziert bleiben, worauf die Anbieterin keinen Einfluss hat. Der Kunde ist damit einverstanden.</span></span></p>

			<p><strong><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">&#160; &#160; &#160; 5&#160; &#160; &#160;Erg&#228;nzende Bestimmungen f&#252;r die Publikation von Inhalten auf Drittplattformen</span></span></strong></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">5.1 Der Kunde erkl&#228;rt sich damit einverstanden, dass die im Kundencenter hinterlegten und vom jeweiligen Produkt umfassten Inhalte w&#228;hrend der Laufzeit des Vertrags von der Anbieterin bzw. deren Support-Partnern in der Regel automatisch an die Publisher &#252;bermittelt und auf den Drittplattformen publiziert werden (unter Vorbehalt der Ziffern 5.2 und 5.3).</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">5.2 Da jeder Publisher eigene Publikationsvorschriften hat (z.B. maximal zul&#228;ssige Zeichen, Qualit&#228;tsstandards), k&#246;nnen die Anbieterin bzw. deren Support-Partner nicht gew&#228;hrleisten und &#252;bernehmen keine Verantwortung daf&#252;r, dass (i) die Publisher die &#252;bermittelten Inhalte &#252;bernehmen bzw. dass die &#220;bernahme der Inhalte durch die Publisher vollst&#228;ndig, sofort oder korrekt geschieht, (ii) die Publisher zum Zwecke der Einhaltung der Publikationsvorschriften die Inhalte jederzeit anders gestalten, platzieren oder zur&#252;ckweisen k&#246;nnen.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">5.3 Der Kunde nimmt zur Kenntnis, dass einige Publisher vor der Publikation der Inhalte eine Verifizierung durch den Kunden (z.B. per Post oder telefonisch), die Er&#246;ffnung eines Benutzerkontos, die Verkn&#252;pfung mit einem bestehenden Benutzerkonto oder andere Aktivierungshandlungen durch den Kunden verlangen. Verlangt ein Publisher ein Benutzerkonto und verf&#252;gt der Kunde &#252;ber kein solches, wird die Anbieterin f&#252;r den Kunden soweit m&#246;glich in ihrem Namen ein Benutzerkonto er&#246;ffnen. Die Inhaberrechte am Benutzerkonto werden mit Ablauf des Vertrags auf den Kunden &#252;bertragen, sofern der Kunde nicht vorher die &#220;bertragung verlangt.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">5.4 Die Zusammensetzung der Publisher kann sich nach Ermessen der Anbieterin jederzeit &#228;ndern, insbesondere k&#246;nnen Publisher w&#228;hrend der Laufzeit des Vertrags wegfallen oder durch andere ersetzt werden. Die Details sind im Kundencenter und auf swisslist.localsearch.ch ersichtlich. Ein Anspruch des Kunden auf Reduktion oder R&#252;ckerstattung der Verg&#252;tung besteht nicht.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">5.5 &#160;Der Kunde kann der Anbieterin jederzeit mitteilen, dass er auf die Publikation der Inhalte auf den Drittplattformen verzichten m&#246;chte. Ein Ausschluss nur bestimmter Drittplattformen ist in der Regel technisch nicht m&#246;glich.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">5.6 Der Kunde r&#228;umt der Anbieterin, deren Support-Partnern und den Publishern s&#228;mtliche Rechte zur Nutzung, Bearbeitung, Weitergabe und Publikation der Inhalte ein, welche diese zur Erf&#252;llung des Vertrags ben&#246;tigen. Dar&#252;ber hinaus nimmt der Kunde zur Kenntnis und stimmt zu, dass die Anbieterin bzw. deren Support-Partner den Publishern weitergehende Bearbeitungs- und Nutzungsrechte gew&#228;hren m&#252;ssen, namentlich ein weltweites, nicht ausschliessliches, &#252;bertragbares, unbefristetes, unwiderrufliches, unentgeltliches Recht der Publisher, (i) die Inhalte zu kombinieren, zu &#228;ndern und / oder mit anderen Daten zu erweitern; (ii) die Inhalte Publisher-intern zu nutzen, (iii) die Inhalte in eine Publisher-Datenbank aufzunehmen, (iv) Produkte, die Inhalte enthalten, zu verkaufen, zu vertreiben, zu verbreiten, zu promoten und zu bewerben, (v) von den Inhalten abgeleitete Werke zu erstellen, (vi) zur Nutzung der Inhalte durch die Kunden des Publishers. Sollten der Kunde oder die Anbieterin selbst Inhalte l&#246;schen, hinzuf&#252;gen oder &#228;ndern, hat dies keinen Einfluss auf die in der Vergangenheit an die Publisher &#252;bermittelten Inhalte. Der Kunde nimmt zur Kenntnis und stimmt zu, dass nach Nutzung der Inhalte (oder eines Teils der Inhalte) seitens eines Publishers und / oder dessen Kunden die Anbieterin nicht verpflichtet ist, die L&#246;schung der entsprechenden Inhalte aus Produkten, Systemen oder Ger&#228;ten unter der Kontrolle dieses Publishers, dessen Kunden oder einer Drittpartei sicherzustellen und auch nicht verpflichtet ist, eine Nicht-&#196;nderung oder Nicht-Nutzung der entsprechenden Inhalte durch diesen Publisher, dessen Kunden oder eine Drittpartei sicherzustellen. Auch nach L&#246;schung von &#252;bermittelten Inhalten bzw. K&#252;ndigung des Vertrags k&#246;nnen somit bereits &#252;bermittelte Inhalte beim jeweiligen Publisher publiziert bleiben.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">5.7 Der Kunde nimmt zur Kenntnis, dass die auf Drittplattformen publizierten Inhalte &#246;ffentlich und f&#252;r jedermann verf&#252;gbar gemacht werden. Die Drittplattformen werden von den Publishern nach Massgabe ihrer jeweiligen Nutzungs- und Datenschutzbedingungen kontrolliert. Die Anbieterin hat gegen&#252;ber den jeweiligen Publishern keine Weisungsbefugnis und kann deren Publikationen auf Drittplattformen nicht kontrollieren. Zudem nimmt der Kunde zur Kenntnis, dass Dritte die auf den Drittplattformen publizierten Inhalte weiterverbreiten k&#246;nnen, ohne dass die Anbieterin oder die Publisher dies kontrollieren k&#246;nnen. Schliesslich nimmt der Kunde zur Kenntnis, dass nach Ablauf des Vertrags die &#252;bermittelten Inhalte beim jeweiligen Publisher oder auf anderen, von Dritten kontrollierten Plattformen publiziert bleiben k&#246;nnen. Der Kunde ist damit einverstanden.</span></span></p>

			<p><strong><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">&#160; &#160; &#160;6&#160; &#160; &#160; &#160;Kundencenter</span></span></strong></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">6.1 Die Anbieterin stellt dem Kunden einen Zugriff auf das Kundencenter bereit, in welchem der Kunde seine Inhalte pflegen und anpassen kann.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">6.2 Die Anbieterin bestimmt die Art des Zugangsschutzes f&#252;r das Kundencenter. Sie ist nicht verpflichtet, die Identit&#228;tsangaben von Benutzern zu pr&#252;fen und darf jeden Zugriff mit den korrekten Login-Daten als berechtigten Zugang betrachten. Der Kunde verpflichtet sich, seine Login-Daten vor Missbrauch zu sch&#252;tzen und steht der Anbieterin f&#252;r jeden Schaden ein, welcher dieser aus einem Missbrauch entsteht.</span></span></p>

			<p><strong><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">&#160; &#160; &#160;7&#160; &#160; &#160;&#160;Pflichten des Kunden</span></span></strong></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">7.1 Damit die Anbieterin ihre Leistungen ordnungsgem&#228;ss erbringen kann, hat der Kunde die Inhalte fristgerecht, vollst&#228;ndig und korrekt &#252;ber das Kundencenter bereitzustellen. Der Kunde ist f&#252;r die Pflege der Inhalte im Kundencenter verantwortlich. Werden Inhalte vom Kunden nicht rechtzeitig, unvollst&#228;ndig oder falsch bereitgestellt und deshalb von der Anbieterin nicht, versp&#228;tet oder nicht korrekt publiziert, hat der Kunde keinen Anspruch auf Reduktion oder R&#252;ckerstattung der Verg&#252;tung.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">7.2 Damit der Kunde vom gesamten Leistungsumfang seines Produkts profitieren kann, kann es notwendig sein, dass der Kunde Aktivierungshandlungen gem&#228;ss Ziffer 5.3 vornimmt.</span></span></p>

			<p align="left" style="margin-left: -0.75pt;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">&#160; &#160; &#160; &#160; &#160; &#160; &#160;&#160;7.3 Der Kunde gew&#228;hrleistet, dass:</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">7.3.1 er s&#228;mtliche erforderlichen Rechte an den Inhalten besitzt und uneingeschr&#228;nkt dar&#252;ber verf&#252;gen kann oder vom Rechteinhaber die notwendigen Nutzungsrechte eingeholt hat;</span></span></p>

			<p style="margin-left: -0.75pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">&#160; &#160; &#160; &#160; &#160; &#160; &#160; 7.3.2 er mit den Inhalten keine Drittrechte (z.B. Firmen-, Marken- und Urheberrechte) verletzt;</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">7.3.3 er uneingeschr&#228;nkt berechtigt ist, der Anbieterin, den Support-Partnern und Publishern im Zusammenhang mit den Inhalten die in diesem Vertrag festgehaltenen Rechte (insbesondere diejenigen gem&#228;ss Ziffer 5.6) zu erteilen;</span></span></p>

			<p align="left" style="margin-left: -0.75pt;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">&#160; &#160; &#160; &#160; &#160; &#160; &#160;&#160;7.3.4 &#160; die Inhalte im Kundencenter korrekt sind;</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">7.3.5 die Inhalte und damit verlinkte Webseiten alle gesetzlichen Vorschriften einhalten und insbesondere nicht pornografisch, rassistisch, diffamierend, bel&#228;stigend, gewaltverherrlichend, sittenwidrig oder moralisch verwerflich sind.</span></span></p>

			<p style="margin-left: 18.15pt; text-align: justify;"><span style="font-size: 6px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">7.4 Wird die Anbieterin wegen einer Gew&#228;hrleistungsverletzung des Kunden gem&#228;ss Ziffer 7.3 von Dritten in Anspruch genommen, f&#252;hrt der Kunde soweit prozessrechtlich m&#246;glich den Rechtsstreit auf seine Kosten und h&#228;lt die Anbieterin vollumf&#228;nglich schadlos. Die Anbieterin informiert den Kunden innert angemessener Frist &#252;ber geltend gemachte Anspr&#252;che.</span></span></p>
			</td>
		</tr>
	</tbody>
</table>

<p>&#160;</p>
