<table cellpadding="1" cellspacing="8" style="width:1100px;">
	<tbody>
		<tr>
			<td colspan="2">&#160;</td>
			<td>&#160;</td>
			<td>&#160;</td>
		</tr>
		<tr>
			<td colspan="2">&#160;</td>
			<td>&#160;</td>
			<td>&#160;</td>
		</tr>
		<tr>
			<td colspan="2" rowspan="1">&#160;</td>
			<td>&#160;</td>
			<td>&#160;</td>
		</tr>
		<tr>
			<td colspan="2" rowspan="1"><span style="font-size:12px;"><u style="font-size: 10px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;"><strong>Verg&#252;tungs&#252;bersicht</strong></span></u></span></td>
			<td>&#160;</td>
			<td>&#160;</td>
		</tr>
		<tr>
			<td colspan="2" rowspan="1"><span style="font-size:12px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">Total SWISS LIST f&#252;r ein Jahr</span></span></td>
			<td style="text-align: right;">&#160;</td>
			<td style="text-align: center;"><span style="color:#696969;"><span style="font-family:titillium web,sans-serif;"><span style="font-size:11px;">{!quote.Total_Amount_Price__c}</span></span></span></td>
		</tr>
		<tr>
			<td colspan="2" rowspan="1">
			<p><span style="font-size:12px;"><u style="font-size: 10px;"><span style="font-family: &quot;titillium web&quot;, sans-serif;">Zuz&#252;glich der gesetzlichen Mehrwertsteuer (7,7 %)</span></u></span></p>
			</td>
			<td style="text-align: right;">&#160;</td>
			<td style="text-align: center;"><span style="color:#696969;"><span style="font-size:11px;"><span style="font-family:titillium web,sans-serif;">&#160; &#160;{!quote.Tax_Amount__c}</span></span></span></td>
		</tr>
		<tr>
			<td colspan="2" rowspan="1"><span style="font-size:12px;"><strong><span style="font-family: &quot;titillium web&quot;, sans-serif;">Gesamt Total in CHF</span></strong></span></td>
			<td style="text-align: right;">&#160;</td>
			<td style="text-align: center;"><strong><span style="font-size:11px;"><span style="font-family:titillium web,sans-serif;">{!quote.Total_Amount__c}</span></span></strong></td>
		</tr>
		<tr>
			<td colspan="2" rowspan="1">&#160;</td>
			<td>&#160;</td>
			<td>&#160;</td>
		</tr>
	</tbody>
</table>

<p>&#160;</p>
