.THIS .slds-button{
    height: 30px !important;
    vertical-align: middle !important;
    font-size: 9.5px !important;
}
.THIS button[title='Product Substitution']{
    position: absolute;
    right: 1%;
}